<!-- Loading Base HTML Template with Metadata, Bootstrap & Navigation-->
{% extends "base.html" %}


<!--------- CONTENT ----------->
{% block content %}
        <main>
            <div class="container text-center">
                <div class="row">

                    <div class="col-md-4 offset-md-2">
                        <h6>Dein Video:</h6>
                        <p>titel</p>
                        <img href="thumb">
                        <p>ID <a href="#" target="_blank">link</a></p>
                    </div>


                    <div class="col-md-4 text-start">
                        <p>Du brauchst das Video für: {{ need }}</p>

                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </main>
{% endblock %}

