<!-- Loading Base HTML Template with Metadata, Bootstrap & Navigation-->
{% extends "base.html" %}}


<!--------- CONTENT ----------->
{% block content %}
        <main>
            <div class="container text-center">
                <div class="row"></div>

                <div class="row">

                <!-- EINGABEFORMULAR YOUTUBE-LINK -->


                    <div class="col-md-4 form-group">
                        <form method="POST">
                            <label>Füeg da din Link ine:</label>
                            <input type="text" class="form-control" name="youtube_link" aria-describedby="example_video" placeholder="z.B. https://www.youtube.com/watch?v=aosWoTbEUmw">

                            {% if form_input == "" %}
                                <p>Du häsch üüüberhaupt nüt igäh seit mir mis Programm...
                                    <br>Ohni Link keis Video &#128129</p>
                            <!-- Fehlermeldung falls gar nichts im Formular eingegeben wurde -->

                            {% elif form_input %}
                                <p>Dini Igab: "{{ form_input }}" isch keis gültigs Youtube-Objekt, versuchechs miteme andere Link?</p>
                            {% endif %}
                            <!-- Fehlermeldung falls eine Zeichenfolge eingegeben wurde, die nicht einem gültigen Youtube-Link entspricht -->

                            <br><button type="submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}

