<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <title>downloader</title>
</head>

<body>
    <div class="container-fluid" id="header">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="img/logo.png" width="50" height="50" alt="">
                H&Auml;NGS!
            </a>
        </nav>
    </div>

    <div class="container-fluid" id="body">
        <div class="row">
            <div><p>Hello World!</p></div>

            <form method="POST">
                <div class="form-group">
                    <label>Füeg da din Link ine:</label>
                    <input type="text" class="form-control" name="youtube_link" aria-describedby="example_video" placeholder="z.B. https://www.youtube.com/watch?v=aosWoTbEUmw">
                    <small id="download_info" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <br><button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>


        <div class="row"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
