<!-- Loading Base HTML Template with Metadata, Bootstrap & Navigation-->
{% extends "base.html" %}


<!--------- CONTENT ----------->
{% block content %}
        <main>
            <div class="container text-center">
                <div class="row">

                    <div class="col-md-4 offset-md-2">
                        <h3>Dein Video:</h3>
                        <img src="{{ video_info['thumbnail'] }}" height="150px">
                        <h6>{{ video_info["title"] }}</h6>
                        <p>Youtube-Objekt: {{ video_info["yt_object"] }}</p>
                        <p>ID <a href="{{ video_info['url'] }}" target="_blank">{{ video_info['id'] }}</a></p>
                        {% for el in video_info: %}
                            <li>{{ el }} : {{ video_info.get(el) }}</li>
                        {% endfor %}
                    </div>


                    <div class="col-md-4 text-start">
                        <p>Beantworte folgende Fragen um fortzufahren:</p>
                        <form>

                        <!-- Form Groups Radio Buttons für Fragen -->
                            <div class="form-group row">
                                <h6>Wofür möchtest du dieses Video verwenden?</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vote_need" id="vote_need_repost" value="repost" checked>
                                    <label class="form-check-label" for="vote_need_repost">
                                        Zum direkt wieder uf Instagram poste natürlich! &#128588;
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vote_need" id="vote_need_fun" value="fun">
                                    <label class="form-check-label" for="vote_need_fun">
                                        Muses eifach kollege privat schicke &#128514;&#128514;
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vote_need" id="vote_need_creator" value="creator">
                                    <label class="form-check-label" for="vote_need_creator">
                                        Ich mach öppis ganz neus druus! &#129327;
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark mt-3">Submit</button>
                        </form>

                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </main>
{% endblock %}

